* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  background-color: #1d1b1b;
  color: white;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background: #900404;
  color: white;
  display: flex;
  flex-direction: column;
  transition: width 0.3s;
  min-height: 100vh;
}

.sidebar .logo {
  text-align: center;
  padding: 20px 0;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.sidebar ul li {
  padding: 15px 20px;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  transition: background 0.3s, color 0.3s;
  border-radius: 8px;
}

.sidebar ul li a i {
  font-size: 1.2rem;
  margin-right: 15px;
}

.sidebar ul li a:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* Footer */
.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 150px;
  background-color: #302f2f;
  padding: 15px 20px;
  text-align: center;
  gap: 8px;
}


.footer a {
  color: #e0e0e0;
  text-decoration: none;
}

/* Main content */
.main-content {
  flex: 1;
  padding: 40px;
}

.container {
  border-radius: 5px;
  border-color: #900404;
  border-width: 3px;
  border-style: solid;
  background-color: #6e1f1f;
  padding: 15px 15px;
  color: white;
  margin: 0 0 30px;
}

.quote-container {
  margin: 15px 15px 0 0;
}

p.quote-container {
  font-size: 14px;
}

.hr-style {
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 20px 0;
  border-radius: 2px;
}

.link-style {
  display: flex;
  width: 75px;
  align-items: center;
  text-align: center;
  width: 90px;
  padding: 0 10px 0 10px;
  text-decoration: none;
  color: white;
  transition: background 0.3s, color 0.3s;
  border-radius: 8px;
}

.link-style:hover {
  background: rgba(255, 255, 255, 0.1)
}

.button-style {
  display: flex;
  border-style: solid;
  border-color: #900404;
  align-items: center;
  text-decoration: none;
  background-color: #1d1b1b;
  color: white;
  transition: opacity 0.3s, color 0.3s;
  border-radius: 8px;
  padding: 5px 8px;
}

.button-style:hover {
  opacity: 0.7;
}

.search-style {
  background-color: #1d1b1b;
  border-color: #630808;
  border-style: solid;
  border-radius: 5px;
  border-width: 3px;
  color: white;
  padding: 2px;
  margin: 15px 5px 2px 5px;
}

.resize {
  cursor: default;
  transition: font-size 0.3s;
}

.resize:hover {
  font-size: 50px;
}