<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genres</title>
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
      <div class="logo">
        <h2>Movie Picker</h2>
      </div>
      <ul class="nav-links">
        <li>
          <a href="{{ url_for('api.index') }}">
            <i class="bx bx-home"></i>
            <span class="link-name">Home</span>
          </a>
        </li>
        <li>
          <a href="{{ url_for('api.trending') }}">
            <i class='bx bx-star'></i>
            <span class="link-name">Trending</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="main-content">

    </div>
</body>
</html>