<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Picker</title>
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
      <div class="logo">
        <h2>Movie Picker</h2>
      </div>
      <ul class="nav-links">
        <li>
          <a href="{{ url_for('api.genres') }}">
            <i class="bx bx-grid-alt"></i>
            <span class="link-name">Genres</span>
          </a>
        </li>
        <li>
          <a href="{{ url_for('api.trending_movies') }}">
            <i class='bx bx-star'></i>
            <span class="link-name">Trending</span>
          </a>
        </li>
        <li>
          <a href="{{ url_for('api.for_you') }}">
            <i class='bx bx-user'></i>
            <span class="link-name">For You</span>
          </a>
        </li>
        <li>
          <a href="{{ url_for('api.watch_later') }}">
            <i class='bx bx-time'></i>
            <span class="link-name">Watch Later</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="main-content">
      <h1 class="resize"><i class="bx bx-home"></i> Home</h1>
      <hr class="hr-style">
      <div class="container">
        <h2 class="resize">Welcome!</h2>
        <p style="margin-top: 15px; margin-bottom: 15px;">
          Welcome to <strong>Movie Picker</strong>, a simple and intuitive place where you can quickly discover films suited for family nights, friendly hangouts, or solo evenings when you just want something enjoyable and easy to watch. 
          This application is designed to cut through the endless scrolling experience by helping you focus on what actually matters: finding a movie that matches your mood, your taste, and the moment you’re in.
        </p>
        <p style="margin-top: 3px; margin-bottom: 15px;">
          To begin your search, look at the sidebar on the left and select Genres, which will open a tailored collection of categories designed to help you filter movies with accuracy and confidence, giving you a curated starting point that leads into smooth, detailed pages for each genre. 
          Enjoy the process, enjoy the discovery, and let the interface carry you from curiosity to your next great movie.
        </p>
      </div>
      <div class="container">
        <h2 class="resize">Random quote!</h2>
        <div class="quote-container">
          <h3>{{ quote }}</h3>
          {% if movie %}
            <p>- {{ movie }}</p>
          {% endif %}
        </div>
      </div>
      <div class="container">
        <h2 class="resize">About Us!</h2>
        <p style="margin-top: 15px; margin-bottom: 15px">This application is brought to you by Finnegan Black and Yash Patel, both 8th graders at Southeast Bulloch Middle School. As young software engineers both of us persue to bring enjoyable movies to you.</p>
      </div>
      <div class="container">
        <h2 class="resize">Contact!</h2>
        <hr class="hr-style">
        <h3>Gmail</h3>
        <a class="link-style" href="mailto:finneganblack358@gmail.com" target="_blank">Finnegan</a>
        <a class="link-style" href="#" target="_blank">Yash</a>
        <h3>Github</h3>
        <a class="link-style" href="https://github.com/finneganblack358-max" target="_blank">Finnegan</a>
        <a class="link-style" href="https://github.com/yashyyashthe1st-max" target="_blank">Yash</a>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>